body {
	font-family: sans-serif;
	overflow: hidden;
	/*display: none;*/
	background: -webkit-linear-gradient(-45deg, rgba(37,136,186,1) 0%,rgba(183,52,219,1) 100%);
}

#tag {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: aliceblue;
}

.dialog {	
    /* background:url('https://image.noelshack.com/fichiers/2018/36/1/1535968148-sans-titre-6.png'); */
    background-color: whitesmoke;
    /* border-style: solid; */
    border-radius: 10px;
    /* border-color : black; */
	top: 15%;
	width: 322px;
	position: absolute;
	margin-left: 50vw;
	transform: translateX(-50%);
	/* margin-left: auto;
	margin-right: auto; */
	left: 0;
	right: 0;
	padding: 10px;
	/* box-shadow: 0px 0px 50px 0px #000; */
	overflow: hidden;
	opacity: 1;
}

input[type=text] {
	/* border-color: black; */
	/* background-color: #D3D3D3; */
    /* border-radius: 20px;	 */
	/* border-bottom: solid; */
	background-color: whitesmoke;
	width: 80%;
	transform: translateX(12.5%);
	padding: 7px;
	text-align: left;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px dashed black;
	/* border-style: none; */
}

button {
	border: none;
    /* background:url('https://image.noelshack.com/fichiers/2018/36/1/1535969051-sans-titre-1.png');		 */
    background: -webkit-linear-gradient(-45deg, rgba(37,136,186,1) 0%,rgba(183,52,219,1) 100%);
	border-radius: 20px;
	display: block;
	margin-right: 5px;
	margin-top: 5px;
	padding: 10px;
	color: #fff;	
	width: 80%;
	transform: translateX(12.5%);
	margin-bottom: 35px;
}

h1 {
    /* border-style: solid; */
    /* border-radius: 4px; */
    /* border-color : black;	 */
    /* background:url('https://image.noelshack.com/fichiers/2018/36/1/1535969051-sans-titre-1.png'); */
	display: block;
	margin-top: 15px;
	margin-right: 5px;
	padding: 10px;
	color: black;
	width: 93%;
	text-align: center;
}



/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	/* padding-left: 35px;
	margin-bottom: 12px; */
	margin-bottom: 5px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
	top: 10%;
	left: 32%;
	height: 15px;/*25px;*/
	width: 15px;/*25px;*/
	background-color: #eee;
	border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  /*.container .checkmark:after {
	top: 4.9px;
	left: 4.9px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
  }*/